# dependencias de Node
node_modules/

# build de Vue
dist/

# Netlify CLI
.netlify/

# entornos
.env
.env.*.local

# base de datos local
data.sqlite
netlify/functions/data.sqlite
/tmp/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/

# editores y sistema
.vscode/
.idea/
.DS_Store
Thumbs.db